<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alteração de Senha</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          color: #333;
      }
      .container {
          text-align: center;
          padding: 20px;
      }
      .code {
          font-size: 24px;
          font-weight: bold;
          margin: 20px 0;
          color: #333;
      }
  </style>
</head>
<body>
<div class="container">
  <h2 style="color: #4CAF50;">Código para troca de senha</h2>
  <p>Use o código abaixo para trocar a senha da sua conta:</p>
  <div class="code">{{recoveryKey}}</div>
  <p>Se você não solicitou esta troca, por favor ignore esta mensagem.</p>
</div>
</body>
</html>
